<main>
  <section class="py-5 text-center container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">NOMBRE DE LA EMPRESA SRL.</h1>
        <a href="/index" class="btn btn-success my-2">Home</a>
      </div>
    </div>
  </section>

  <section>
    <div class="py-5 bg-light">
      <div class="container-fluid">
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center"
        >
          <div class="d-flex flex-column justify-content-evenly">
            <a
              type="button"
              class="btn btn-info fw-bold mb-2"
              href="/admin-employee"
            >Modificar / Cancelar Empleado</a>
            <a
              type="button"
              class="btn btn-danger fw-bold mb-2"
              href="/vacation-manager"
            >Administracion de Empleados</a>
            <a
              type="button"
              class="btn btn-warning fw-bold mb-2"
              href="/admin-nomina"
            >Nomina</a>
          </div>
        </div>
      </div>
    </div>

  </section>

</main>