<main>
  <section class="py-5 text-center container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">NOMBRE DE LA EMPRESA SRL.</h1>
        <a href="/index" class="btn btn-success my-2">Home</a>
      </div>
    </div>
  </section>

  <section>
    <div class="py-2 bg-light">
      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4 gap-3 justify-content-center">

            <div class="card bg-light bg-gradient">
              <img src="/img/modEmployee.png" class="img-fluid cardImg" alt="..." />
              <div class="card-body">
                <p class="card-title fw-bold">Modificar / Cancelar Empleados<p/>
                <a
                      type="button"
                      class="btn btn-info  fw-bold "
                      href="/admin-employee"
                    ><i class="fa-sharp fa-solid fa-plus"></i></a>
              </div>
            </div>

            <div class="card">
              <img src="/img/vacationEmployee.png" class="img-fluid cardImg" alt="..." />
              <div class="card-body">
                <p class="card-title fw-bold">Administracion de Vacaciones<p/>
                <a
                      type="button"
                      class="btn btn-danger fw-bold mb-2"
                      href="/vacation-manager"
                    ><i class="fa-sharp fa-solid fa-plus"></i></a>
              </div>
            </div>

            <div class="card">
              <img src="/img/nominaEmployee.png" class="img-fluid cardImg" alt="..." />
              <div class="card-body">
                <p class="card-title fw-bold">Nomina de Empleados.<p/>
              <a
                      type="button"
                      class="btn btn-warning fw-bold mb-2"
                      href="/admin-nomina"
                    ><i class="fa-sharp fa-solid fa-plus"></i></a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

</main>