<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style.css" />
    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Icons -->

    <link rel="stylesheet" href="../../bootstrap.css/css/bootstrap.min.css" />
    <title>{{pageTitle}} </title>
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg bg-success gap-2"
      >
        <picture class="mx-2">
          <a href="/index"> <img src="../../img/logo.png" alt="" /></a>
        </picture>
        {{#if filter}}
          <div class="container-fluid justify-content-start pt-3">
            <form action="/index" method="get">
              <ul class="navbar-nav">
                <li class="nav-item mx-1">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Search by name"
                    id="filterName"
                    name="filterName"
                  />
                </li>
                <li>
                  <button
                    class="btn btn-outline-light"
                    type="submit"
                  >Search</button>
                </li>
              </ul>
            </form>
          </div>
        {{/if}}

        <div class="container-fluid justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item mx-2">
              <h4 class="text-white">{{date}} </h4>
            </li>
            <li>
              <a type="button" class="btn btn-sm btn-outline-light" href="/">
                Cerrar Sesion</a>
            </li>
          </ul>
        </div>

      </nav>
    </header>

    {{{body}}}

    <script src="../../public/bootstrap.js/js/bootstrap.min.js"></script>

  </body>
</html>