<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../../bootstrap.css/css/bootstrap.min.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="col-md-4 d-none d-md-flex bg-image"></div>

        <div class="col-md-8 bg-light">
          <div class="login d-flex align-items-center py-5">

            <div class="container">
              <div class="row">
                <div class="col-lg-10 col-xl-7 mx-auto">
                  <h2>Login</h2>

                  <div class="form-group mb-3">
                    <input
                      id="UserName"
                      name="UserName"
                      type="text"
                      placeholder="DEMO USERNAME --> ADMIN"
                      class="form-control rounded-pill border-0 shadow-sm px-4"
                      required
                    />
                  </div>
                  <a
                    type="button"
                    href="/index"
                    class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm"
                  >Sign in</a>

                </div>
              </div>
            </div><!-- End -->

          </div>
        </div><!-- End -->

      </div>
    </div>
    <script src="../../public/bootstrap.js/js/bootstrap.min.js"></script>
  </body>
</html>